@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightblue;">
</body><!--code to set background color of home page-->

<div class="text-center"><!--code to keep the text in the center-->
    <!--code to give boarder to the home page image--><style>
        img {
            border: 5px solid #555;
        }
    </style>
    <!--code to increse the size of heading and to change its size and to bold it-->
    <h1 class="display-4"><b><p style="color:brown;">Welcome to World Wide Parcel</b></p></h1>

    <!--code to add image in home page-->
    <img src="~/images/paecel home.jpg" height="400" weight"450" />
    
    <p>Welcome to the userfriendly website. This website will help you to recive your desired things through parcel from worldwide. It is easy to use and very effective website.</a>.</p>
</div> 
