@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--code to keep the text in the center-->
    <style>
        img {
            border: 5px solid #555;
        }
    </style>
    <!--code to increse the size of heading and to change its size and to bold it-->
    <h1 class="display-4"><b><p style="color:brown;">Welcome to World Wide Parcel</b></p></h1>

    <!--code to add image in home page-->
    <img src="~/images/paecel home.jpg" height="400" weight"450" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
